*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 90vh;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
}

.gameBoard {
  width: 80%;
  height: 400px;
  background-color: #14bdac;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  overflow: hidden;
  position: relative;
}

.game-grid {
  width: 350px;
  height: 350px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 8px;
  position: relative;
  overflow: hidden;
}

.horizontal-line,
.verticle-line {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.horizontal-line {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.verticle-line {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.v-line1,
.v-line2 {
  width: 8px;
  background-color: #0da192;
  height: 100%;
  transform: scalex(1);
}

.h-line1,
.h-line2 {
  height: 8px;
  background-color: #0da192;
  width: 100%;
  transform: scaley(1);
}

@media screen and (max-width: 900px) {
  .gameBoard {
    width: 100%;
  }
}

.boxes {
  z-index: 2;
  position: relative;
  transition: 0.6s cubic-bezier(0.17, 0.67, 0.22, 1.06);
}

.score {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
}

.crossmark {
  margin-left: 50px;
}

.circlemark {
  margin-right: 50px;
}

.crossmark,
.circlemark {
  width: 150px;
  height: 35px;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 6px;
  box-shadow: -1.6px -1.6px #d4d0d0, 0px 1.6px #d4d0d0, -1.6px 0px #d4d0d0, 0px -1.6px #d4d0d0, 0px 1.9px #d4d0d0, 1.6px 0px #d4d0d0;
  transition: 0.2s linear;
  justify-content: space-around;
}

.shadow {
  box-shadow: -1.6px -1.6px #d4d0d0, 0px 1.6px #14bdac, -1.6px 0px #d4d0d0, 0px -1.6px #d4d0d0, 0px 1.9px #14bdac, 1.6px 0px #d4d0d0, 0px 3.6px 10px rgba(37, 30, 30, 0.4);
}

.crossmark > p:first-child,
.circlemark > P:first-child {
  font-weight: 300;
  font-size: 1.3rem;
  margin-left: -15px;
}

.circlemark > P:first-child {
  font-weight: 400;
  font-size: 1.6rem;
}

.crossmark > p:last-child,
.circlemark > P:last-child {
  font-size: 2.3rem;
  color: #757575;
  margin-right: -15px;
  margin-top: -5px;
}

.cross,
.circle {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.cross {
  transform: rotate(45deg);
}

.cross::after,
.cross::before {
  content: "";
  width: 60%;
  height: 8px;
  background-color: #545454;
  position: absolute;
  transition: 0.2s ease-in-out;
}

:root {
  --crossScale: 1;
}

.cross::before {
  transform: rotate(90deg) scaleX(var(--crossScale));
}

.cross::after {
  transform: scaleX(var(--crossScale));
}

.circle::before,
.circle::after {
  position: absolute;
  content: "";
  border-radius: 50%;
  background-color: #f2ebd3;
}

.circle::before {
  width: 40%;
  height: 40%;
  background-color: #14bdac;
  z-index: 3;
}

.circle::after {
  width: 55%;
  height: 55%;
}

@media screen and (max-width: 520px) {
  .score {
    width: 100%;
  }
  .crossmark,
  .circlemark {
    width: 140px;
    height: 35px;
  }
  .crossmark {
    margin-left: 10px;
  }
  .circlemark {
    margin-right: 20px;
  }
}

.lineanimation {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -3;
}

.horizontal,
.verticle {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-around;
}

.horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.verticle > * {
  transform-origin: top;
  width: 8px;
  height: 100%;
  background-color: #413f39;
  transform: scaley(0);
}

.horizontal > * {
  transform-origin: left;
  width: 100%;
  height: 8px;
  background-color: #f2ebd3;
  transform: scalex(0);
}

.rotate {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: rotate(45deg);
}

.rotate > div:first-child {
  width: 120%;
  height: 8px;
  position: absolute;
  background-color: #545454;
  top: 49%;
  left: -10%;
  transform-origin: left;
  transform: scaleX(0);
}

.rotate > div:last-child {
  width: 8px;
  height: 120%;
  position: absolute;
  background-color: #545454;
  left: 49%;
  top: -10%;
  transform-origin: top;
  transform: scaleY(0);
}

.verticle > *,
.horizontal > *,
.rotate > * {
  transition: 0.6s cubic-bezier(0.17, 0.67, 0.22, 1.06);
}

.message {
  position: absolute;
  bottom: 0px;
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  z-index: -5;
  opacity: 0;
}

.message p {
  font-size: 3rem;
  color: #4b4a4a;
  font-weight: bolder;
}

.winnerCard {
  position: absolute;
  width: 110px;
  height: 110px;
  z-index: -5;
  transform: scale(1);
}
