*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url(/images/sunset.jpg);
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-family: "Poppins", sans-serif;
}

.section {
  width: 100%;
  border-radius: 10px;
  height: 100vh;
  background-color: rgba(241, 235, 235, 0.315);
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
}

.gameBoard {
  width: 100%;
  height: 400px;
  background-color: #14bdac;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
}

.game-grid {
  width: 350px;
  height: 350px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 8px;
  position: relative;
  overflow: hidden;
}

.horizontal-line,
.verticle-line {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.horizontal-line {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.verticle-line {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.v-line1,
.v-line2 {
  width: 8px;
  background-color: #0da192;
  height: 100%;
  transform: scalex(1);
}

.h-line1,
.h-line2 {
  height: 8px;
  background-color: #0da192;
  width: 100%;
  transform: scaley(1);
}

.boxes {
  z-index: 2;
  position: relative;
  transition: 0.6s cubic-bezier(0.17, 0.67, 0.22, 1.06);
}

.score {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
}

.crossmark {
  margin-left: 50px;
}

.circlemark {
  margin-right: 50px;
}

.crossmark,
.circlemark {
  width: 150px;
  height: 35px;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 6px;
  box-shadow: -1.6px -1.6px #5454544f, 0px 1.6px #5454544f, -1.6px 0px #5454544f, 0px -1.6px #5454544f, 0px 1.9px #5454544f, 1.6px 0px #5454544f;
  transition: 0.2s linear;
  justify-content: space-around;
}

.shadow {
  box-shadow: -1.6px -1.6px #d4d0d0, 0px 1.6px #14bdac, -1.6px 0px #d4d0d0, 0px -1.6px #d4d0d0, 0px 1.9px #14bdac, 1.6px 0px #d4d0d0, 0px 3.6px 10px rgba(37, 30, 30, 0.4);
  box-shadow: 0px 1.6px #14bdac, 0px 1.9px #14bdac;
  box-shadow: -1.6px -1.6px #5454544f, 0px 2.3px #14bdac, -1.6px 0px #5454544f, 0px -1.6px #5454544f, 0px 2.3px #14bdac, 1.6px 0px #5454544f, 0px 3.6px 10px rgba(37, 30, 30, 0.4);
}

.crossmark > p:first-child,
.circlemark > P:first-child {
  font-weight: 300;
  font-size: 1.3rem;
  margin-left: -15px;
}

.circlemark > P:first-child {
  font-weight: 400;
  font-size: 1.6rem;
}

.crossmark > p:last-child,
.circlemark > P:last-child {
  font-size: 2.3rem;
  color: #757575;
  margin-right: -15px;
  margin-top: -5px;
}

.cross,
.circle {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.cross {
  transform: rotate(45deg);
}

.cross::after,
.cross::before {
  content: "";
  width: 60%;
  height: 8px;
  background-color: #545454;
  position: absolute;
  transition: 0.2s ease-in-out;
}

:root {
  --crossScale: 1;
}

.cross::before {
  transform: rotate(90deg) scaleX(var(--crossScale));
}

.cross::after {
  transform: scaleX(var(--crossScale));
}

.circle::before,
.circle::after {
  position: absolute;
  content: "";
  border-radius: 50%;
  background-color: #f2ebd3;
}

.circle::before {
  width: 40%;
  height: 40%;
  background-color: #14bdac;
  z-index: 3;
}

.circle::after {
  width: 55%;
  height: 55%;
}

.lineanimation {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -3;
}

.horizontal,
.verticle {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-around;
}

.horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.verticle > * {
  transform-origin: top;
  width: 8px;
  height: 100%;
  background-color: #413f39;
  transform: scaley(0);
}

.horizontal > * {
  transform-origin: left;
  width: 100%;
  height: 8px;
  background-color: #f2ebd3;
  transform: scalex(0);
}

.rotate {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: rotate(45deg);
}

.rotate > div:first-child {
  width: 120%;
  height: 8px;
  position: absolute;
  background-color: #545454;
  top: 49%;
  left: -10%;
  transform-origin: left;
  transform: scaleX(0);
}

.rotate > div:last-child {
  width: 8px;
  height: 120%;
  position: absolute;
  background-color: #545454;
  left: 49%;
  top: -10%;
  transform-origin: top;
  transform: scaleY(0);
}

.verticle > *,
.horizontal > *,
.rotate > * {
  transition: 0.6s cubic-bezier(0.17, 0.67, 0.22, 1.06);
}

.message {
  position: absolute;
  bottom: 0px;
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  z-index: -5;
  opacity: 0;
}

.message p {
  font-size: 3rem;
  color: #4b4a4a;
  font-weight: bolder;
}

.winnerCard {
  position: absolute;
  width: 110px;
  height: 110px;
  z-index: -5;
  transform: scale(1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.winnerCard > div {
  position: relative;
}

.restart > button {
  width: 150px;
  height: 40px;
  font-size: 1.3rem;
  background-color: #14bdac;
  border: 0px;
  color: #fff4f4;
  border-radius: 8px;
}

.section h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #3c3737c7;
}

.level {
  color: #423f3f;
}

.information {
  color: #3d3636;
}

.level {
  font-size: 1.2rem;
}

.level-share {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
}

.share {
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  color: #545454;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
}

.share-box {
  position: absolute;
  width: 250px;
  height: 70px;
  clip-path: polygon(82% 14%, 87% 0, 91% 14%, 100% 14%, 100% 100%, 0 100%, 0 15%);
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  right: 0;
  background: rgba(235, 229, 229, 0.815);
  z-index: -1;
  border-radius: 5px;
  border: 1px solid #e2e0e0;
  transform: translateY(30px);
  opacity: 0;
  backdrop-filter: blur(10px);
  transition: 0.2s ease-in;
}

.share-box > * {
  margin-top: 10px;
}

.fa-facebook-square {
  color: #4267b2;
}

.fa-twitter-square {
  color: #1da1f2;
}

.fa-whatsapp-square {
  color: #25d366;
}

.fa-instagram-square {
  color: #e1306c;
}

@media screen and (max-width: 520px) {
  .score {
    width: 100%;
  }
  .crossmark,
  .circlemark {
    width: 140px;
    height: 35px;
  }
  .level-share {
    width: 95%;
  }
  .crossmark {
    margin-left: 10px;
  }
  .circlemark {
    margin-right: 20px;
  }
  .section {
    width: 100%;
    border-radius: 0px;
  }
}

@media screen and (max-width: 900px) {
  .gameBoard {
    width: 100%;
  }
  body {
    background-size: auto 100%;
    background-position: center center;
  }
}

.information {
  font-size: 1.2rem;
}

@media screen and (max-height: 700px) {
  .level {
    font-size: 1.2rem;
  }
  body {
    align-items: flex-start;
  }
  .section {
    justify-content: space-around;
  }
  .section h1 {
    font-size: 2.5rem;
    font-weight: 600;
  }
  .share {
    width: 50px;
    height: 30px;
  }
  .crossmark,
  .circlemark {
    width: 150px;
    height: 30px;
  }
  .game-grid {
    width: 350px;
    height: 350px;
  }
  .gameBoard {
    width: 100%;
    height: 380px;
  }
}
